@import "bootstrap";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css");

body {
    margin: 0%;
    padding: 0%;
    width: 100vw;
    background: rgba(10, 10, 10, 1);
    color: #fff;
    max-width: 100vw;
    overflow-x: hidden;
    align-items: center;
}
